[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
requests = "*"
bs4 = "*"
djangorestframework-simplejwt = "*"
django-heroku = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
lyricsgenius = "*"

[dev-packages]

[requires]
python_version = "3.9"
