.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-color: var(--accent);
	position: fixed;
	left: -17px;
	border-radius: 17px;
	padding: 5px 8px 5px 27px;
}
.icon {
	color: white;
	cursor: pointer;
}
.text {
	color: white;
	padding-right: 10px;
	font-size: var(--h4);
	margin: 0;
}

/* import { Colors } from "../../constants/Colors";

export const styles = {
	container: {
		display: "flex",
		flexDirection: "row",
		alignItems: "center",
		backgroundColor: Colors.accent,
		position: "fixed",
		left: -17,
		top: 150,
		borderRadius: 17,
		padding: 5,
		paddingLeft: 27,
		paddingRight: 8,
	},
	icon: {
		color: "white",
		cursor: "pointer",
	},
	text: {
		color: "white",
		paddingRight: 10,
		fontSize: "2vmin",
		margin: 0,
	},
} */