.vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vertical-default {
	display: flex;
	flex-direction: column;
}
.horizontal-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.horizontal-default {
	display: flex;
	align-items: center;
}
.horizontal-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.horizontal-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inline-block {
	display: inline-block;
}
.relative {
	position: relative;
}
.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}
.align-block-right {
	margin-left: auto;
	display: block;
}
.container {
	padding: 6vmin;
}
