/* Flex-box containers */
.vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vertical-default {
	display: flex;
	flex-direction: column;
}
.horizontal-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.horizontal-default {
	display: flex;
	align-items: center;
}
.horizontal-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.horizontal-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.horizontal-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* Display */
.inline-block {
	display: inline-block;
}
.align-block-right {
	margin-left: auto;
	display: block;
}

/* Positioning */
.relative {
	position: relative;
}
.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Margin */
.no-margin {
	margin: 0;
}

/* Container around all screens */
@media screen and (max-aspect-ratio: 1/1) {
	.container {
		padding: 6vmin;
	}
}
@media (min-aspect-ratio: 1/1) {
	.container {
		padding: 6vmin;
		padding-top: 10vmin;
	}
}
