/* Nav bar */
.nav-bar-link {
	padding: 13px 20px;
	margin: 0;
	cursor: pointer;
	font-size: var(--h4);
	color: white;
	text-decoration: none;
}
.nav-bar-hover:hover {
	background-color: var(--dark);
}

/* Fonts */
.title {
	font-size: var(--h1);
	border-width: 0;
	background-color: transparent;
	text-align: center;
	color: var(--accent);
	font-weight: bold;
	width: 100%;
	text-overflow: ellipsis;
	text-align: center;
}
.song-subtitle {
	color: var(--primary);
	font-size: var(--h2);
}
.subtitle {
	font-size: var(--h2);
	color: var(--accent);
}
.plain-h2 {
	font-size: var(--h2);
}
.plain-h3 {
	font-size: var(--h3);
}
.plain-h4 {
	font-size: var(--h4);
}
.small-text {
	color: var(--accent);
	font-size: var(--p);
}

/* Input containers */
.dashed-input {
	white-space: pre-wrap;
	font-size: var(--h4);
	background-color: white;
	border: 1px var(--primary) dotted;
	padding: 5px;
	width: 100%;
	display: block;
	color: var(--accent);
	margin: 2px 0px;
}
.purple-input {
	background-color: var(--accent);
	width: 250px;
	max-width: 60vw;
	padding: 10px;
	color: white;
	border-radius: 10px;
	border-width: 0;
}

/* Sidebar */
.sidebar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-color: var(--accent);
	position: fixed;
	left: -17px;
	top: 150px;
	border-radius: 17px;
	background-color: var(--accent); /* Default for song list search bar */
	padding: 5px 8px 5px 27px;
}
.sidebar-icon {
	color: white !important; /* Override default red colour */
}
.sidebar-text {
	color: white;
	padding-right: 10px;
	font-size: var(--h4);
	margin: 0;
}

/* Miscellaneous */
.pointer {
	cursor: pointer;
}
.emphasis {
	color: var(--accent);
	font-style: italic;
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.white-space {
	white-space: pre-wrap;
}
