.picture {
	width: 15vw;
	max-width: 200px;
	height: 15vw;
	max-height: 200px;
	margin-right: 4vw;
	margin-top: 6vmin;
}
.menu-button {
	padding: 10px;
	margin-bottom: 0;
	margin-left: 2vw;
	border: 1px black solid;
	border-bottom: none;
	cursor: pointer;
	background-color: white;
	font-size: var(--h4);
}
.menu-button-active {
	border-top: 3px var(--primary) solid;
}
.file-upload {
	cursor: pointer;
	font-size: var(--h4);
	color: var(--accent);
	font-weight: bold;
	margin-top: 20px;
}