.button-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	align-items: center;
}
.field {
	margin: 10px 0 20px 0;
	padding: 10px;
	width: 100%;
	border-radius: 15px;
	border: 2px var(--dark) solid;
	font-size: var(--h3);
}
.label {
	color: var(--accent);
	font-size: var(--h3);
	font-weight: bold;
}
