/* Root variables */
:root {
	--accent: #3c1874;
	--dark: #932432;
	--primaryLight: #ff7f7f;
	--light: #f3f3f3;
	--primary: #de354c;

	--h1: min(6vmin, 60px);
	--h2: min(3.8vmin, 40px);
	--h3: min(2.5vmin, 25px);
	--h4: min(2.1vmin, 18px);
	--p: min(1.7vmin, 16px);
}

/* Set box-sizing */
html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

/* Set background, font, and margin */
body {
	background-color: #f3f3f3;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
}

/* Colour is by default accent */
h1,
h2 {
	color: var(--accent);
}
input[type="file"] {
	display: none;
	width: 0;
}
