.border {
	border: 1px var(--dark) dashed;
	padding: 10px;
	font-size: var(--h3);
}
/* 

import { Colors } from "../../constants/Colors";

export const styles = {
	border: {
		borderColor: Colors.dark,
		borderStyle: "dashed",
		borderWidth: 1,
		padding: 10,
		fontSize: "2.5vmin",
	},
} */